.Frame {
    /*border: 1px solid #2a2a2a;*/
    width: 950px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: #EBEBEA;
    padding: 0;
}

.Messages{
    top: 10%;
    left: 29%;
    right: 19%;
    height: 85%;
    position: absolute;
    background-color: #1c106e;
    border-radius: 8px;
}

.TextArea {
    background-color: #F8F8F7;
    width: 100%;
    height: 70%;
    position: absolute;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
}
.MessageArea{
    background-color: #0f0606;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 30%;
    width: 80%;
}


.textBefore{
    top: 50%;
    margin: 5px;
}

select {
    width: 30%;
    position: relative;
    bottom: -50px;
    padding: 16px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #BFD7ED;
}

ul {
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 950px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4580DE;
    border-radius: 8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3D6CB8;
}

.active {
    background-color: #3D6CB8;
}

.img {
    position: absolute;
    opacity: 0.75;
   /* bottom: -280px;*/
    right: 1%;
    bottom: 1%;
}

table {
    border-collapse: collapse;
    margin: 5px;
    width: 30%;

}

th, td {
    text-align: left;
    padding: 12px;
}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child {
    border-radius: 6px 6px 0 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4580DE;
    color: white;
}

input {
    margin: 5px;
    width: 30%;
    height:40px;
    border-radius: 6px;
    background-color: #BFD7ED;
}

label {
    margin: 5px;
    width: 100px;
    display: block;
    left: 5px;
}


