<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=
                 "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>AuthPageServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.AuthPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthPageServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainFrameServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.MainFrameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainFrameServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddMarkServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.AddMarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMarkServlet</servlet-name>
        <url-pattern>/addmark</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.onlineDiary.web.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/Diary</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>